.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-container input[type='text'] {
  padding: 8px 30px 8px 8px; /* Added additional padding on the right side for the arrow */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-container .arrow {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(-45deg);
  pointer-events: none;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
  min-width: 100%;
}

.dropdown label {
  display: block;
  margin-bottom: 8px;
}

.dropdown label input[type='checkbox'] {
  margin-right: 8px;
}

.dropdown label.selected {
  background-color: #e0e0e0;
}
